/*--------------------------------------------------------------
	#home style 2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#2.0	about-section-s2
--------------------------------------------------------------*/
.about-section-s2 {
	background-color: #dfe3e7;
	position: relative;
	padding-bottom: 110px;

	@include media-query(991px) {
		padding-bottom: 80px;
	}

	@include media-query(767px) {
		padding-bottom: 70px;
	}

	.section-title-s2 h2 {
		margin-top: 0;
	}

	.content {
		overflow: hidden;
	}

	.left-col {
		width: calc(50% + 90px);
		float: left;

		@include media-query(1199px) {
			width: 100%;
			float: none;
		}
	}

	.right-col {
		width: calc(50% - 90px);
		float: left;

		@include media-query(1199px) {
			display: none;
		}
	}

	.right-col .img-holder {
		float: right;
	}

	.left-col .inner {
		max-width: 675px;
		float: right;
		margin-left: auto;
		padding: 0 15px;

		@include media-query(1199px) {
			max-width: 970px;
			margin: auto;
			float: none;
		}

		@include media-query(991px) {
			max-width: 750px;
			margin: auto;
			float: none;
		}
	}

	.section-title-s2 {
		padding-right: 185px;

		@include media-query(767px) {
			padding-right: 0;
		}

		h2 {
			margin-bottom: 1.23em;
		}
	}

	.section-title-s2 .text {
		margin-right: -25px;

		@include media-query(767px) {
			margin-right: 0;
		}
	}

	.section-title-s2 .text p {
		font-family: $base-font;
		font-size: 18px;
		font-size: calc-rem-value(18);
		font-weight: 500;
		line-height: 1.67em;

		@include media-query(991px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}

		@include media-query(767px) {
			font-size: 15px;
			font-size: calc-rem-value(15);
		}
	}


	/*** features-grids ***/
	.features-grids {
		overflow: hidden;
		margin: 0 -20px;
		padding-top: 10px;

		.grid {
			width: 33.33%;
			float: left;
			padding: 0 20px 0;
			@include transition-time(0.3s);

			@include media-query(550px) {
				width: 100%;
				float: none;
			}
		}

		> .grid + .grid {
			@include media-query(550px) {
				margin-top: 40px;
			}
		}

		.icon {
			background-color: $white;
			width: 100px;
			height: 100px;
			line-height: 100px;
			text-align: center;
			margin-bottom: 30px;
			border-radius: 50%;
			box-shadow: 0 6px 6px transparentize($black, 0.9);

			@include media-query(1199px) {
				width: 80px;
				height: 80px;
				line-height: 80px;
			}

			@include media-query(767px) {
				width: 60px;
				height: 60px;
				line-height: 60px;
				margin-bottom: 20px
			}
		}

		.fi:before {
			font-size: 50px;
			color: $theme-color;
			@include transition-time(0.3s);

			@include media-query(1199px) {
				font-size: 40px;
			}

			@include media-query(767px) {
				font-size: 30px;
			}
		}

		h3 {
			font-size: 22px;
			font-size: calc-rem-value(22);
			font-weight: 600;
			color: $heading-color;
			margin: 0 0 0.77em;

			@include media-query(991px) {
				font-size: 18px;
				font-size: calc-rem-value(18);
			}

			@include media-query(767px) {
				font-size: 16px;
				font-size: calc-rem-value(16);
			}
		}

		p {
			font-size: 18px;
			font-size: calc-rem-value(18);
			font-weight: 500;
			line-height: 1.67em;
			margin: 0;
		color: $text-color;

			@include media-query(991px) {
				font-size: 16px;
				font-size: calc-rem-value(16);
			}

			@include media-query(767px) {
				font-size: 15px;
				font-size: calc-rem-value(15);
			}
		}

		.grid:hover .icon {
			background-color: $theme-color;

			.fi:before {
				color: $white;
			}
		}
	}
}


/*--------------------------------------------------------------
#2.1	portfolio-section-s2
--------------------------------------------------------------*/
.portfolio-section-s2 {
	position: relative;
	padding-bottom: 96px;

	@include media-query(991px) {
		padding-bottom: 70px;
	}

	@include media-query(767px) {
		padding-bottom: 60px;
	}

	&:before {
		content: "";
		@include background-style("../images/portfolio/portfolio-s2-decor.png", center center, cover, no-repeat, local);
		width: 1654px;
		height: 930px;
		position: absolute;
		left: 50%;
		top: 0;
		@include translatingX();

		@include media-query(1199px) {
			display: none;
		}
	}

	.section-title-s5 {
		@include widther(1200px) {
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	.portfolio-grids {
		overflow: hidden;
		margin: 0 -10px;

		.grid-item {
			width: 50%;
			float: left;
			padding: 0 10px 20px;
			overflow: hidden;

			@include media-query(550px) {
				width: 100%;
				float: none;
			}
		}

		.grid-item-75 {
			width: 65%;
			
			@include media-query(767px) {
				width: 50%;
			}
			
			@include media-query(550px) {
				width: 100%;
				float: none;
			}
		}

		.grid-item-25 {
			width: 35%;
			@include media-query(767px) {
				width: 50%;
			}
			@include media-query(550px) {
				width: 100%;
				float: none;
			}
		}
	}

	.grid-item .inner {
		position: relative;

		.details {
			width: calc(100% - 70px);
			height: calc(100% - 70px);
			position: absolute;
			left: 35px;
			top: 35px;

			@include media-query(767px) {
				width: calc(100% - 40px);
				height: calc(100% - 40px);
				left: 20px;
				top: 20px;
			}
		}
	}

	.gallery-filters {
		text-align: center;
		margin-bottom: 40px;

		ul {
			display: inline-block;
			overflow: hidden;
		}

		ul li {
			float: left;

			@include media-query(767px) {
				float: none;
			}
		}

		ul > li + li {
			margin-left: 20px;

			@include media-query(767px) {
				margin-left: 0;
				margin-top: 10px;
			}
		}

		ul li a {
			font-size: 16px;
			font-size: calc-rem-value(16);
			color: #c4c6cb;
			padding: 0 10px;
			border-radius: 15px;
			display: inline-block;
		}

		ul li a:hover,
		ul li a:focus {
			text-decoration: none;
		}

		ul li a.current {
			background-color: $theme-color;
			color: $white;
		}
	}
	
	
	.grid-item .details h3 {
		font-size: 22px;
		font-size: calc-remd-value(22);
		font-weight: 600;
		color: $white;
		margin: 0 0 0.35em;

		@include media-query(1199px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
		}

		@include media-query(991px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}
	}

	.grid-item .details .cat {
		font-size: 12px;
		font-size: calc-remd-value(12);
		color: $white;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.grid-item .details .view-project {
		font-family: $heading-font;
		background-color: $theme-color;
		font-size: 14px;
		font-size: calc-rem-value(14);
		font-weight: 600;
		color: $white;
		padding: 6px 15px;
		border-radius: 50px;
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		@include transition-time(0.3s);
		margin-top: -20px;

		@include media-query(1199px) {
			font-size: 12px;
			font-size: calc-rem-value(12);
			padding: 4px 13px;
		}

		&:hover {
			background-color: $white;
			color: $heading-color;
		}
	}

	.grid-item:hover .details .view-project {
		opacity: 1;
		visibility: visible;
	}
}


/*--------------------------------------------------------------
#2.2	about-section-s2
--------------------------------------------------------------*/
.about-section-s3 {
	@extend .about-section;
	.left-grid {
		@include background-style("../images/about-s2-tag.jpg", center center, cover, no-repeat, local)
	}
}


/*--------------------------------------------------------------
#2.3	testimonials-section-s2
--------------------------------------------------------------*/
.testimonials-section-s2 {

	.testimonials-girds .grid {
		text-align: center;
		border: 1px solid #efefef;
		padding: 30px 160px;

		@include media-query(991px) {
			padding: 30px 50px;
		}

		@include media-query(767px) {
			padding: 30px 15px;
		}
	}

	.testimonials-girds .img-holder {
		margin-bottom: 25px;
	}

	.testimonials-girds img {
		width: auto;
		display: inline-block;
		border-radius: 50%;
	}

	.grid h3 {
		font-size: 22px;
		font-size: calc-rem-value(22);
		font-weight: 600;
		color: $heading-color;
		margin: 0 0 0.59em;

		@include media-query(991px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
		}
	}

	.grid p {
		margin-bottom: 2em;
	}

	.client-info h4 {
		font-size: 18px;
		font-size: calc-rem-value(18);
		font-weight: 600;
		color: $heading-color;
		margin: 0 0 0.28em;

		@include media-query(991px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}

	.client-info > span {
		font-size: 14px;
		font-size: calc-rem-value(14);
		font-weight: 500;
		color: #90949a;
	}


	.owl-controls {
	    width: 100%;
	    height: 100%;
		position: absolute;
	    top: 0;

	    @include media-query(1199px) {
	    	position: static;
	    	height: 15px;
	    	margin-top: 40px;
	    }

	    .owl-nav {
	    	width: 100%;
	    	height: 28px;
			position: absolute;
		    top: 50%;
		    @include translatingY();

		    @include media-query(1199px) {
		    	display: none !important;
		    }
	    }

	    .owl-dots {
	    	width: 100%;
			position: absolute;
		    bottom: -50px;

		    @include widther(1200px) {
		    	display: none !important;
		    }

		    @include media-query(1199px) {
		    	position: static;
		    }
	    }

	    .owl-dots .owl-dot.active span, 
	    .owl-dots .owl-dot:hover span {
	    	background: $heading-color;
	    }
	}


	.owl-controls .owl-nav .owl-prev,
	.owl-controls .owl-nav .owl-next {
		background: transparent;
		font-size: 20px;
		font-size: calc-rem-value(20);
		padding: 0;
		margin: 0;
		color: $heading-color;
		position: absolute;

		&:hover {
			background-color: transparent;
			color: darken($heading-color, 10%);
		}
	}

	.owl-controls .owl-nav .owl-prev  {
		left: -100px;
	}

	.owl-controls .owl-nav .owl-next  {
		right: -100px;
	}
}


/*--------------------------------------------------------------
#2.4	services-package-section
--------------------------------------------------------------*/
.services-package-section {
	background-color: #f8f8f8;
	padding-bottom: 90px;

	@include media-query(991px) {
		padding-bottom: 60px;
	}

	@include media-query(767px) {
		padding-bottom: 50px;
	}

	.package-grids {
		overflow: hidden;
		margin: 0 -15px;

		.grid {
			background-color: $white;
			width: calc(33.33% - 30px);
			float: left;
			margin: 0 15px 30px;
			padding: 70px 85px;
			text-align: center;

			@include media-query(1199px) {
				padding: 70px 45px;
			}

			@include media-query(991px) {
				width: calc(50% - 30px);
			}

			@include media-query(767px) {
				padding: 50px 35px;
			}

			@include media-query(600px) {
				width: calc(100% - 30px);
				float: none;
			}
		}
	}

	.pricing-header .type {
		font-size: 22px;
		font-size: calc-rem-value(22);
		font-weight: 600;
		color: $heading-color;
		margin: 0;

		@include media-query(767px) {
			font-size: 19px;
			font-size: calc-rem-value(19);
		}
	}

	.pricing-header .price {
		background-color: $theme-color;
		width: 75px;
		height: 75px;
		margin: 15px auto 12px;
		border-radius: 50%;
		display: table;

		h3 {
			font-size: 30px;
			font-size: calc-rem-value(30);
			font-weight: bold;
			color: $white;
			margin: 0;
			display: table-cell;
			vertical-align: middle;

			@include media-query(767px) {
				font-size: 25px;
				font-size: calc-rem-value(25);
			}
		}

		h3 span {
			font-size: 15px;
		    position: relative;
		    top: -10px;

		    @include media-query(767px) {
				top: -7px;
			}
		}
	}

	.pricing-header .duration {
		font-size: 16px;
		font-size: calc-rem-value(16);
		font-weight: 500;
		color: $heading-color;
		margin: 0 0 30px;

		@include media-query(767px) {
			font-size: 15px;
			font-size: calc-rem-value(15);
		}
	}

	.pricing-body p {
		margin-bottom: 3.3em;
	}
}


/*--------------------------------------------------------------
#2.5	recent-news-section-s2
--------------------------------------------------------------*/
.recent-news-section-s2 {
	@extend .recent-news-section;
	background-color: $white;
}


/*--------------------------------------------------------------
#2.6	partners-section
--------------------------------------------------------------*/
.partners-section {
	background-color: $theme-color;
	padding: 40px 0;
	text-align: center;

	.partners-slider img {
		width: auto;
		display: inline-block;
	}
}


/*--------------------------------------------------------------
#2.7	contact-section-s2
--------------------------------------------------------------*/
.contact-section-s2 {
	@extend .contact-section;

	.contact-form-info {
		margin-top: 0;
	}

	.contact-info {
		@include media-query(991px) {
			border-top: 0;
			padding-top: 0;
		}
	}

	.contact-info > h2 {
		font-size: 36px;
		font-size: calc-rem-value(36);
		color: $heading-color;
		margin: -5px 0 1.25em;

		@include media-query(1199px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}

		@include media-query(991px) {
			font-size: 25px;
			font-size: calc-rem-value(25);
		}

		@include media-query(767px) {
			font-size: 22px;
			font-size: calc-rem-value(22);
		}
	}

	.contact-info {
		@include widther(1200px) {
			padding-right: 55px;
		}

		@include media-query(991px) {
			margin-bottom: 60px;
			margin-top: 0;
		}
	}

	.contact-info > div + div {
		margin-top: 50px;

		@include media-query(991px) {
			margin-top: 30px;
		}
	}
}


