/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Hind:400,500|Poppins:400,600,700');

// fonts
$base-font-size: 15;
$base-font: 'Hind', sans-serif;
$heading-font: 'Poppins', sans-serif;



// color
$dark-gray: #2a2a2a;
$white: #fff;
$black: #000;
$mid-gray: #90949a;

$theme-color: #6220d9;
$theme-color2: #41516a;
$body-bg-color: $white;
$text-color: $mid-gray;
$heading-color: #41516a;
